<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="../img/index.jpeg" alt="index.jpg" />
      <h1 class="display-4">Amri Rosadi</h1>
      <p class="Lead">Learner | A Future Software Enginer</p>
    </div>
  </div>
</div>
